:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "OFL Sorts Mill Goudy TT", sans-serif;
    --text-color: black;
}


.auth_cont {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100vh;
    padding-top:20px ;
}
.input-mask_phone {
    font-family: var(--font-family);
    font-weight: 275;
    font-size: 2vw;
    letter-spacing: 0.14em;
    text-align: center;
    color: var( --text-color);
    padding: 1rem;
    margin: 0;
    width: 100%;
}
.wrapper {
    max-width: 2560px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
 
  }
.auth {
    width: auto;
    display: flex;
    flex-direction: column;
}

h2 {
    display: block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 9vw;
    text-align: center;
    color: var(--text-color);
    padding: 10px;
    margin: 0;
    width: 70%;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
    align-items: center;
}
.custom-logo{
   height: 40%;;
}


.form_tel {
    display: block;
    text-align: center;
}

label span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2vw;
    text-align: center;
    color: var( --text-color);
}

input {
    background-color: inherit;
    border: 1px solid #000;
    color: #000;
    border-radius: 25px;
    width: 90%;
    height: 100%;
    margin:20px;
    padding: 50px;

}

button {
    align-self: center;
    background: #c4c5c6;
    border-radius: 25px;
    width: 70%;
    height: 100%;
    font-size: 3vw;
    padding: 20px;
    margin: 0px;
    transition: box-shadow 1s;
}
button:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
button:active{
    box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2) inset;
}
.pinBox {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .pinEntry {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .pinEntry:focus {
    border-color: #007bff; /* Цвет границы при фокусе */
  }
  
  .h2_Reg {
    margin: 0 auto;
    display: block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: calc(2vw + 2rem);
    text-align: center;
    color: var(--text-color);
    padding: 10px;
    width: 70%;
    align-self: center;
}

.span_RegName {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(1vw + 0rem);
    text-align: center;
    color: var( --text-color);
}

.Form_RegName{
    width: 30%;
    margin: 0 auto;
}

.Form_RegName span{
    width: 100%;
    font-size: calc(1vh + 1.65rem );
}

.Form_RegName label{
    width: 100%;
    font-size: calc(1vh + 2.4rem);
}

.Form_RegName input{
    padding: 20px;
    margin: 0.4rem;
    font-size: calc(1vw + 2.4rem);
    
}



.text_RegBDay{
    width: 100%;
    font-size: calc(1vh + 1.75rem);
    text-align: center;
}

.wrapper_RegBDay_Form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.wrapper_RegBDay_Form2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.Form_RegBDay{
    width: 31%;
    margin: 0 auto;
}

.wrapper_RegBDay_Form input{
    padding: 30px 10px 30px 25px;
    font-size: calc(1vh + 1rem);
}

.Select_Gender{
    background-color: inherit;
    border: 1px solid #000;
    color: #000;
    border-radius: 25px;
    width: 96%;
    height: 100%;
    margin: 20px;
    padding: 25px 10px 25px 10px;
    font-size: calc(1vh + 2rem);
}

.BDay_Gender_label{
    width: 100%;

}

.span_AddEmail {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(1vw + 0rem);
    text-align: center;
    color: var( --text-color);
    margin: 0 auto;
}

.Form__Email{
    width: 30%;
    margin: 0 auto;
}

.Form__Email input{
    font-size: calc(1vh + 2.4rem);
    padding: 20px 10px 20px 10px;
}

.Add_Email_button{
    width: 50%;
    padding: 10px 10px 10px 10px;
}

.Email__Form__wrapper{
    width: 100%;
}

.EnterCode_Form{
    width: 30%;
    margin: 0 auto;
}

.EnterCode_Form input{
    font-size: calc(1vh + 2.4rem);
    padding: 20px 10px 20px 10px;
}

.EnterCode_button{
    width: 50%;
    padding: 10px 10px 10px 10px;
}