@use '@styles/variables' as *;

.mainCont {
    // background-color: $dark;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #1B1E26;
}

.tasksCont {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}