@use '@styles/variables' as *;

.mainCont {
    // background-color: $dark;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #1B1E26;
}

.tasksCont {
    display: grid;
    grid-template-columns: repeat(1, 1fr); // 
    width: 100%;
    align-items: start;

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}
