@use '@styles/variables' as *;

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover{
      background-color: $light_gray;
    }
  }

a {
    display: inline-block;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: $primary;
    font-size: 20px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    vertical-align: middle;
    padding-left: 8px;

    &:hover {
      color: $primary;
    }
  }

a[href$=".pdf"]::before,
a[href$=".jpg"]::before,
a[href$=".css"]::before,
a[href$=".doc"]::before,
a[href$=".docx"]::before,
a[href$=".zip"]::before,
a[href$=".JPG"]::before,
a[href$=".CSS"]::before,
a[href$=".PDF"]::before,
a[href$=".DOC"]::before,
a[href$=".DOCX"]::before,
a[href$=".ZIP"]::before {
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    border-radius: 3px;
    flex-shrink: 0;
    margin-right: 8px;
}

a[href$=".pdf"]::before,
a[href$=".PDF"]::before {
  background-image: url('../../../../../../assets/icons/pdf_icon.svg');
}

a[href$=".doc"]::before,
a[href$=".DOC"]::before {
  background-image: url("../../../../../../assets/icons/doc_icon.svg");
}

a[href$=".docx"]::before,
a[href$=".DOCX"]::before {
  background-image: url("../../../../../../assets/icons/doc_icon.svg");
}

a[href$=".jpg"]::before,
a[href$=".JPG"]::before {
  background-image: url("../../../../../../assets/icons/jpg_icon.svg");
}

a[href$=".css"]::before,
a[href$=".CSS"]::before {
  background-image: url("../../../../../../assets/icons/css_icon.svg");
}

.time {
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}